.aside {
    width: 140px;
    padding: 0 5px;
}
.aside__logo {
    min-width: 120px;
    min-height: 120px;
    margin-bottom: 5px;
    background: url("../images/icon-logo.png") no-repeat center;

}
.aside__nav {
    width: 100%;
}
.aside__nav-item {
    margin-bottom: 35px;
    padding: 0;
}
.aside__nav-link {
    width: 100%;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #34ACA7;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.aside__nav-icon {
    min-width: 30px;
    height: 30px;
    margin-right: 5px;
}
.aside__nav-text {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}
.icon-tastemakers {
 background: url("../images/svg/tastemakers.svg") no-repeat center;
}
.icon-blog {
    background: url("../images/svg/blog.svg") no-repeat center;
}
.icon-list {
    background: url("../images/svg/list.svg") no-repeat center;
}
.icon-contribure {
    background: url("../images/svg/contribure.svg") no-repeat center;
}
.icon-about {
    background: url("../images/svg/about.svg") no-repeat center;
}

.aside__tweet-title,
.aside__friends-title {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
    padding: 5px 0;
    border-bottom: 1px dashed #E5E5E5;
    margin-bottom: 10px;
}
.aside__tweet-button,
.aside__friends-button {
    width: 100%;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #34ACA7;
    text-align: left;
    margin-bottom: 10px;
}
.aside__tweet-icon,
.aside__friends-icon {
    width: 16px;
    height: 16px;
}
.aside__tweet-button:hover,
.aside__friends-button:hover {
   opacity: .8;
}
.aside__tweet-button:active,
.aside__friends-button:active {
    transform: scale(.98);
}
.aside__friends-title {
    margin-bottom: 5px;
}
.aside__friends-text {
    margin-bottom: 10px;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    color: #000000;
}