html{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body{
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-weight: normal;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}
a:hover {
    opacity: .8;
}
.wrapper {
    width: 1088px;
    height: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* main styles start */
.main {
    width: 896px;
    height: 100%;
    margin-bottom: 25px;
}
.banner {
    width: 100%;
    height: 445px;
    position: relative;
    overflow: hidden;
    background-image: url("../images/baner.png");
    background-size: cover;
}
.banner__text {
    position: absolute;
    left: 0;
    font-style: italic;
    font-weight: normal;
    bottom: 70px;
}

.banner__title p {
    display: inline-block;
    font-size: 22px;
    color: #000000;
    background-color: #ffffff;
    padding: 14px 29px 14px 24px;
}
.banner__subtitle p {
    display: inline-block;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 14px 29px 14px 24px;
}
.tabs__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.tabs__item {
    width: 25%;
    min-height: 100%;
    background: #EFF8F7;
    cursor: pointer;
    border-left: 1px solid #F9FBFB;
    border-right: 1px solid #F9FBFB;
    padding: 25px 20px;
    text-decoration: none;
}
.tabs__item:hover {
    background: #D9EFEC;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}
.tabs__title {
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    color: #34ACA7;
}
.tabs__subtitle {
    font-style: italic;
    font-size: 10px;
    line-height: 19px;
    color: #34ACA7;
}
.subscribe {
    width: 100%;
    height: 100%;
    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.subscribe__text-container {
    display: flex;
    align-items: center;
}
.subscribe_icon{
    min-width: 29px;
    min-height: 24px;
    background: url("../images/svg/mail.svg");
    background-size: contain;
    margin-right: 15px;
}
.subscribe_text {
    max-width: 530px;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    position: relative;
}
.subscribe__input {
    width: 160px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 6px;
    box-sizing: border-box;
    font-size: 10px;
}
.subscribe__input::placeholder {
    font-size: 10px;
    line-height: 10px;
    color: #E5E5E5;
}
.subscribe__button {
    width: 80px;
    height: 23px;
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 10px;
    line-height: 10px;
    color: #000000;
}
.subscribe__button:hover {
    opacity: .8;
}
.subscribe__button:active {
    transform: scale(.98);
}

.articles__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles__item {
    width: 207px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.articles__image {
    width: 100%;
    height: 143px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    margin-bottom: 10px;
}
.articles__title {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #34ACA7;
    margin-bottom: 10px;
    min-height: 42px;
}
.articles__description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 20px;
}
.articles__footer {
    display: flex;
    margin-top: auto;
    margin-bottom: 0;
}
.articles__date {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #E5E5E5;
}
.articles__link {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #34ACA7;
}
/* main styles end */

/* aside styles start */
.aside {
    width: 140px;
    padding: 0 5px;
}
.aside__logo {
    min-width: 120px;
    min-height: 120px;
    margin-bottom: 5px;
    background: url("../images/icon-logo.png") no-repeat center;

}
.aside__nav-item {
    width: 100%;
    margin-bottom: 35px;
    padding: 0;
}
.aside__nav-link {
    width: 100%;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #34ACA7;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.aside__nav-icon {
    min-width: 30px;
    height: 30px;
    margin-right: 5px;
}
.aside__nav-text {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}
.icon-tastemakers {
 background: url("../images/svg/tastemakers.svg") no-repeat center;
}
.icon-blog {
    background: url("../images/svg/blog.svg") no-repeat center;
}
.icon-list {
    background: url("../images/svg/list.svg") no-repeat center;
}
.icon-contribure {
    background: url("../images/svg/contribure.svg") no-repeat center;
}
.icon-about {
    background: url("../images/svg/about.svg") no-repeat center;
}

.aside__tweet-title,
.aside__friends-title {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #000000;
    padding: 5px 0;
    border-bottom: 1px dashed #E5E5E5;
    margin-bottom: 10px;
}
.aside__tweet-button,
.aside__friends-button {
    width: 100%;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #34ACA7;
    text-align: left;
    margin-bottom: 10px;
}
.aside__tweet-icon,
.aside__friends-icon {
    width: 16px;
    height: 16px;
}
.aside__tweet-button:hover,
.aside__friends-button:hover {
   opacity: .8;
}
.aside__tweet-button:active,
.aside__friends-button:active {
    transform: scale(.98);
}
.aside__friends-title {
    margin-bottom: 5px;
}
.aside__friends-text {
    margin-bottom: 10px;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    color: #000000;
}
/* aside styles end */

/* footer styles start */
.footer {
    width: 100%;
    height: 92px;
    border-top: 2px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    padding: 25px 5px 35px 5px;
}
.info__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.info__item {
    padding: 0 3px;
    border-right: 1.5px solid #E5E5E5;
}
.info__link,
.info__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #34ACA7;
    text-decoration: none;
}
.info__item:first-child {
    padding-left: 0;
}
.info__item:last-child {
    border-right: none;
    padding-right: 0;
}
.info__text {
    color: #E5E5E5;
}
.icon {
    display: flex;
    flex-wrap: wrap;
}
.icon__item {
    min-width: 32px;
    min-height: 32px;
}
.twitter {
    background: url("../images/svg/twitter-big.svg") no-repeat ;
}
.fb {
    background: url("../images/svg/fb.svg") no-repeat ;
}
.rss {
    background: url("../images/svg/rss.svg") no-repeat ;
}

/* footer styles end */