.notification {
  width: 24px;
  height: 24px;
  background: url("src/assets/images/svg/vector.svg") no-repeat center;
  margin: 0 40px 0 auto;
  cursor: pointer;
  &:hover {
    opacity: .8;
    background: url("src/assets/images/svg/vectorElipse.svg") no-repeat center;
  }
}