{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true,
        "allowNamespaces": true,
        "onlyRemoveTypeImports": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "react-hot-loader/babel"
  ]
}