@import "src/styles/mixins/font";

.header__input {
  width: 50%;
  border: none;
  padding-left: 32px;
  background: url("src/assets/images/svg/search.svg") no-repeat left;
  @include font_options('Montserrat', normal, 12px, normal, 15px, 0.01em);
  &::placeholder {
    @include font_options('Montserrat', normal, 12px, normal, 15px, 0.01em, #90A0B7);
  }
}