body {
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, #EDC1D3, #91BDEC 100%);
}
.wrapper {
  margin: 50px auto;
  max-width: 1374px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0 4px 40px #8CA4D8;
  border-radius: 30px;
}
.scarlet {
  color: #F3477A;
}