body {
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, #EDC1D3, #91BDEC 100%);
}
a {
  text-decoration: none;
}
a:hover {
  opacity: .9;
}
.wrapper {
  margin: 50px auto;
  max-width: 1374px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0 4px 40px #8CA4D8;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.scarlet {
  color: #F3477A;
}
.app__preloader {
  width: 200px;
  height: 200px;
  margin: 100px auto;
}
.nowrap {
  flex-wrap: nowrap;
}
.bold {
  font-weight: bold;
}
.in-progress {
  color: #56CCF2;
}
.pending,
.normal {
  color: #F2994A;
}
.minor,
.completed {
  color: #27AE60;
}
.cancelled,
.critical {
  color: #EB5757;
}
.not-found {
  width: 100%;
  height: 100%;
  background: url("src/assets/images/PageNotFound.jpg") no-repeat center;
  background-size: cover;
}


