@font-face {
  font-family: 'Poppins';
  src: url('poppins/Poppins-Bold.eot');
  src: local('☺'), url('poppins/Poppins-Bold.woff') format('woff'),
    url('poppins/Poppins-Bold.ttf') format('truetype'),
    url('poppins/Poppins-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('poppins/Poppins-Regular.eot');
  src: local('☺'), url('poppins/Poppins-Regular.woff') format('woff'),
    url('poppins/Poppins-Regular.ttf') format('truetype'),
    url('poppins/Poppins-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('montserrat/Montserrat-Regular.eot');
  src: local('☺'), url('montserrat/Montserrat-Regular.woff') format('woff'),
    url('montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('montserrat/Montserrat-Regular.svg') format('svg');
}
@font-face {
  font-family: 'Montserrat';
  src: url('montserrat/Montserrat-Medium.eot');
  src: local('☺'), url('montserrat/Montserrat-Medium.woff') format('woff'),
    url('montserrat/Montserrat-Medium.ttf') format('truetype'),
    url('montserrat/Montserrat-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('sfui/sf-ui-text-regular.eot');
  src: local('☺'), url('sfui/sf-ui-text-regular.woff') format('woff'),
  url('sfui/sf-ui-text-regular.ttf') format('truetype'),
  url('sfui/sf-ui-text-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('roboto/roboto-medium.eot');
  src: local('☺'), url('roboto/roboto-medium.woff') format('woff'),
  url('roboto/roboto-medium.ttf') format('truetype'),
  url('roboto/roboto-medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
