@font-face {
  font-family: 'SF UI Text';
  src: url('sfui/sf-ui-text-regular.eot');
  src: local('☺'), url('sfui/sf-ui-text-regular.woff') format('woff'),
  url('sfui/sf-ui-text-regular.ttf') format('truetype'),
  url('sfui/sf-ui-text-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
