.task-form {
  position: absolute;
  min-width: 600px;
  min-height: 400px;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 5;
  box-shadow: 0 4px 20px #8CA4D8;
}