body {
  background: #EEEEEE;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  margin-top: 50px;
}
.wrapper {
  width: 860px;
  background: #FFFFFF;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .stats {
    width: 380px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  }
  .controls {
    width: 380px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  img {
    margin: 0 auto;
  }
}



